* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    /* background-color: #F2F0F1; */
}

ul {
    list-style: none;
}

header .conteiner {
    max-width: 1240px;
    margin: 25px auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    width: 321px;
    justify-content: space-between;
    font-size: 16px;
}

nav ul li {
    display: flex;
    flex-direction: column;
    height: 22px;
    justify-content: space-between;
    cursor: pointer;
}

nav ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: black;
}

nav ul li:hover::after {
    width: 100%;
    transition: all 0.3s ease;
}

form {
    width: 578px;
    height: 48px;
}

form input {
    width: 100%;
    /* height: 48px; */
    border-radius: 62px;
    background-color: #F0F0F0;
    padding: 14px 52px;
    outline: none;
    border: none;
}

form button {
    background: none;
    border: none;
    position: absolute;
    margin: 10px 16px;
    cursor: pointer;
}

.header-icons {
    width: 62px;
    display: flex;
    justify-content: space-between;
}

.header-icons li {
    cursor: pointer;
}

main .conteiner-for-opening {
    max-width: 100%;
    /* margin: 0 auto; */
    background-color: #F2F0F1;
}

.opening-section {
    max-width: 1240px;
    height: 663px;
    margin: 0 auto;

}

.background-image {
    max-width: 1240px;
    height: 663px;
    position: absolute;
}

.opening-info {
    position: absolute;
    width: 600px;
    height: 444px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 127px;
}

.opening-title {
    font-size: 64px;
    font-weight: 900;
    width: 577px;
    line-height: 64px;
}

.opening-text {
    color: #00000063;
    width: 545px;
    font-size: 16px;
}

.buttons {
    background: none;
    border: 2px solid black;
    border-radius: 62px;
    width: 205px;
    padding: 15px 67px;
    font-weight: bold;
    /* position: absolute; */
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: black;
    transition: 0.3s;
    cursor: pointer;
}

.buttons::after {
    content: "";
    width: 0px;
    height: 0px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: 0.3s;
}

.buttons:hover::after {
    width: 300px;
    height: 300px;
    transition: 0.3s;
}

.buttons:hover {
    color: white;
    transition: 0.3s;
}

.stat {
    display: flex;
    /* width: 596px; */
    /* justify-content: space-between; */
    font-size: 40px;
    font-weight: bold;
}

.stat li {
    height: 74px;
    padding-right: 16px;
}

.brand {
    display: flex;
    flex-direction: column;
    border-right: 2px solid rgba(0, 0, 0, 0.185);
}

.brand::after {
    content: "International Brands";
    font-size: 16px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.61);
}

.products {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    border-right: 2px solid rgba(0, 0, 0, 0.185);
}

.products::after {
    content: "High-Quality Products";
    font-size: 16px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.61);
}

.costumers {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.costumers::after {
    content: "Happy Customers";
    font-size: 16px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.61);
}

.star1 {
    position: absolute;
    margin-top: 321px;
    margin-left: 650px;
    animation: shining 3s linear infinite;
    animation-delay: -1s;
}

.star2 {
    position: absolute;
    margin-top: 110px;
    margin-left: 1100px;
    width: 104px;
    height: 104px;
    animation: shining 3s linear infinite;
}

@keyframes shining {
    0% {
        scale: 0.7;
    }

    50% {
        scale: 1;
    }

    100% {
        scale: 0.7;
    }
}

.carousel {
    width: 100%;
    height: 122px;
    background-color: black;

}

.brands {
    max-width: 1240px;
    height: 122px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0));
}

.brands ul {
    display: flex;
    align-items: center;
    overflow: hidden;
}

@keyframes scrolleft {
    to {
        margin-left: -200px;
    }
}

.item {
    position: absolute;
    margin-left: max(calc(250px * 5), 100%);
    animation: scrolleft 30s linear infinite;
}

.versaace {
    animation-delay: calc(30s / 5 * (5 - 1.1) * -1);
}

.zara {
    animation-delay: calc(30s / 5 * (5 - 2.1) * -1);
}

.gucci {
    animation-delay: calc(30s / 5 * (5 - 2.9) * -1);
}

.prada {
    animation-delay: calc(30s / 5 * (5 - 3.95) * -1);
}

.klein {
    animation-delay: calc(30s / 5 * (5 - 5) * -1);
}

main .conteiner {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-arrivals {
    width: 100%;
    height: 670px;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 64px; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.top-selling {
    width: 100%;
    height: 670px;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 64px; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.arrivals-title {
    font-weight: bold;
    font-size: 48px;
}

.selling-title {
    font-weight: bold;
    font-size: 48px;
}

.product {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    gap: 20px;
    transition: 0.3s;
}

.box {
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 55px;
    transition: 0.5s;
}

.top-selling .box:hover {
    transition: 0.5s;
    margin-top: 20px;
}

.top-selling .box:hover+.box {
    margin-top: 40px;
    transition: 0.5s;
}

.top-selling .box:has(+ .box:hover) {
    margin-top: 40px;
    transition: 0.5s;
}

.new-arrivals:hover .box:not(:hover) {
    opacity: 0.5;
}


.box .rate {
    width: 126px;
    height: 19px;
}

.cost {
    display: flex;
    width: 200px;
    height: 32px;
    justify-content: space-between;
    align-items: center;
}

.cost .new-cost {
    font-size: 24px;
}

.discount {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: line-through;
    font-size: 24px;

}

.discount-precentage {
    font-size: 12px;
    color: #FF3333;
    padding: 6px 13px;
    background-color: rgb(255, 51, 51, 0.1);
    display: flex;
    align-items: center;
    border-radius: 62px;
}

.new-arrivals button {
    margin-top: 36px;
    position: absolute;
    bottom: 50px;
}

.top-selling button {
    margin-top: 36px;
    position: absolute;
    bottom: 50px;
}

.beowse-style {
    width: 100%;
    height: 866px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    margin-top: 80px;
}

.beowse-style .title {
    font-size: 48px;
    font-weight: bold;
}

.for-flex {
    display: flex;
    width: 1111px;
    justify-content: space-between;
}

.style {
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.style img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: 0.7s;
}

.style p {
    position: relative;
    top: 61px;
    left: 36px;
    font-size: 36px;
    font-weight: 500;
}

.style:hover>img {
    width: 110%;
    height: 110%;
    transition: 0.7s;
}